.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */

/* Style pour le titre principal de la page */
h1 {
  text-align: center;
  color: #007bff;  /* Couleur bleue de Bootstrap */
  margin-bottom: 40px;
}

/* Personnalisation des cartes (User) */
.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-10px);  /* Légère élévation au survol */
}

.card-title {
  font-size: 1.2rem;
  color: #343a40;  /* Gris foncé */
}

.card-subtitle {
  color: #6c757d;  /* Gris pour l'âge */
}

.card-body {
  padding: 20px;
}

.card-text {
  font-size: 1rem;
  color: #495057;  /* Gris clair */
}

/* Espacement des cartes dans UserList */
.row {
  margin-left: 0;
  margin-right: 0;
}

